*{
    margin: 0;
    padding: 0;
}

h1{
    font-family: 'Gloria Hallelujah', cursive;
    color: palevioletred;
}

.cuadritos{
    display: inline-block;
    background-color: turquoise;
    color: aliceblue;
    height: 200px;
    width: 150px;
    text-align: center;
    ol{
        list-style: lower-greek;
    }    
}
.laboratorians{
    text-decoration: underline;
    text-decoration-style: wavy;
}